<html>

<head>
    <title>Barrier App</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body>
    <header>
        <h1>Barrier App</h1>
    </header>
    <div class="content">
        <video id="video" height="480" width="800" autoplay></video>
        <canvas id="canvas" height="480" width="800"> </canvas>
        <script type="text/javascript">
            var subscriptionKey = "<%= config.face.key %>";
            const uriBase = "https://uksouth.api.cognitive.microsoft.com/face/v1.0/"; //face detection api from cognitive service
            const uriLocations = {
                detect: uriBase + "detect", // adds detection at the end of the URL that links to api 
                verify: uriBase + "verify" //adds verifiy at the end of URL that links to the api
            };

            const constraints = {
                audio: false,
                video: {
                    mandatory: {
                        maxHeight: 480,
                        maxWidth: 800,
                        minHeight: 480,
                        minWidth: 800
                    }
                }
            };

            const videoElement = document.getElementById('video');

            navigator.getUserMedia = navigator.webkitGetUserMedia;
            navigator.getUserMedia(
                constraints,
                stream => videoElement.src = window.URL.createObjectURL(stream),
                error => console.error(error)
            );

            var canvasElement = document.getElementById("canvas");
            var canvas = canvasElement.getContext("2d");

            var faceUrl = null;

            function tick() {
                if (video.readyState === videoElement.HAVE_ENOUGH_DATA) {
                    canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
                    var imageData = canvas.getImageData(0, 0, video.width, video.height); //grabs the image square with the qr code

                    // this is where we start searching for a QR code
                    var code = jsQR(imageData.data, imageData.width, imageData.height);

                    if (code && code.data) {
                        faceUrl = code.data;

                        $.ajax({ //a synchronised java + xml get and post
                            url: uriLocations.detect,
                            data: JSON.stringify({ url: code.data }),
                            type: "POST",
                            contentType: "application/json",
                            success: function (rx) {
                                console.log(rx);
                                if (rx && rx.length == 1) //if a face is detected in camera and the length is 1 (one face) then stop the detection and verify
                                    (doFaceRecognition(rx[0].faceId))
                                else //if the conditions arent true then recapture screen looking for face
                                    (requestAnimationFrame(tick));

                            },
                            beforeSend: function (xhr) {
                                // xhr.setRequestHeader("Content-Type", "application/octet-stream");
                                xhr.setRequestHeader("Ocp-Apim-Subscription-Key", subscriptionKey);
                            },
                            error: function (x, e) {
                                console.log(x.responseText);
                                requestAnimationFrame(tick);

                            }
                        });
                        // console.log("CODE FOUND:" + code.data);
                        //  doFaceRecognition(code.data);
                        // return; 
                    } else {
                        requestAnimationFrame(tick);
                    }
                } else {
                    requestAnimationFrame(tick);
                }
            }

            var faceRecognition, faceWatchdog;
            function doFaceRecognition(originalFace) {
                console.log("Starting facial recognition.");
                if (video.readyState === videoElement.HAVE_ENOUGH_DATA) {
                    canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
                    var imageData = canvas.getImageData(0, 0, video.width, video.height);

                    canvasElement.toBlob(function (b) {
                        processImage(b, originalFace);
                    });
                }

                faceRecognition = window.setTimeout(function() { doFaceRecognition(originalFace); }, 3000);
                faceWatchdog = window.setTimeout(killFaceRecognition, 30000);
            }

            function killFaceRecognition(delay) {
                window.clearTimeout(faceRecognition);
                window.clearTimeout(faceWatchdog);

                if(!delay) {
                    requestAnimationFrame(tick);
                } else {
                    window.setTimeout(function() { requestAnimationFrame(tick); }, 10000);
                }
            }

            requestAnimationFrame(tick);

            function processImage(data, originalFace) {
                // Replace <Subscription Key> with your valid subscription key.


                var fileReader = new FileReader();
                fileReader.onload = function (event) {

                    // Request parameters.
                    var params = {
                        "returnFaceId": "true",
                        "returnFaceLandmarks": "false",
                        "returnFaceAttributes":
                            "age,gender,headPose,smile,facialHair,glasses,emotion," +
                            "hair,makeup,occlusion,accessories,blur,exposure,noise"
                    };

                    $.ajax({
                        url: uriLocations.detect,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Content-Type", "application/octet-stream");
                            xhr.setRequestHeader("Ocp-Apim-Subscription-Key", subscriptionKey);
                        },
                        type: "POST",
                        data: event.target.result,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            if (response && response.length == 1) {
                                console.log(response[0].faceId);

                                var verifyUri = uriLocations.verify;
                                var verifyData = {
                                    faceid1: response[0].faceId, // image from the camera
                                    faceid2: originalFace // from the QR code
                                };

                                $.ajax({
                                    url: verifyUri,
                                    data: JSON.stringify(verifyData),
                                    type: "POST",
                                    contentType: "application/json",
                                    success: function (rx) {
                                        console.log(rx);
                                        killFaceRecognition(true);

                                        // example response: {isIdentical: false, confidence: 0.08676}
                                        var verifyDataPayload = {
                                            faceid1: verifyData.faceId1,
                                            result: rx.isIdentical,
                                            confidence: rx.confidence,
                                            faceUrl: faceUrl
                                        };

                                        // TODO: read data, then see
                                        $.ajax({
                                            url: '/send',
                                            data: JSON.stringify(verifyDataPayload),
                                            type: 'POST',
                                            contentType: 'application/json',
                                            success: function(postRx) {
                                                // check what the status is, then go from there
                                                console.log(postRx);
                                            },
                                            error: function() {
                                                alert("There has been an error. Please report to the guard.");
                                            }
                                        });

                                    },
                                    beforeSend: function (xhr) {
                                        // TODO: this is not safe, but it's a good enough option for now
                                        xhr.setRequestHeader("Ocp-Apim-Subscription-Key", subscriptionKey);
                                    },
                                    error: function (x, e) {
                                        console.log(x.responseText);
                                    }
                                });
                            }
                        },
                        error: function (xhr, status) {
                            console.log(xhr.responseText);
                        }
                    });
                };
                fileReader.readAsArrayBuffer(data);
            };
        </script>
    </div>
</body>
<script type="text/javascript" src="/scripts/jsQR.js"></script>

</html>