<html>

<head>
    <title>Barrier App</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body>
    <header>
        <h1>Barrier App</h1>
    </header>
    <div class="content">
        <video id="video" height="480" width="800" autoplay></video>
        <canvas id="canvas" height="480" width="800"> </canvas>
        <script type="text/javascript">
            const constraints = {
                audio: false,
                video: {
                    mandatory: {
                        maxHeight: 480,
                        maxWidth: 800,
                        minHeight: 480,
                        minWidth: 800
                    }
                }
            };

            const videoElement = document.getElementById('video');

            navigator.getUserMedia = navigator.webkitGetUserMedia;
            navigator.getUserMedia(
                constraints,
                stream => videoElement.src = window.URL.createObjectURL(stream),
                error => console.error(error)
            );

            var canvasElement = document.getElementById("canvas");
            var canvas = canvasElement.getContext("2d");

            function tick() {
                if (video.readyState === videoElement.HAVE_ENOUGH_DATA) {
                    canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
                    var imageData = canvas.getImageData(0, 0, video.width, video.height);

                    // this is where we start searching for a QR code
                    var code = jsQR(imageData.data, imageData.width, imageData.height);

                    if (code && code.data) {
                        console.log("CODE FOUND:" + code.data);
                        doFaceRecognition(code.data);
                        return;
                    }

                }
                requestAnimationFrame(tick);
            }

            var faceRecognition, faceWatchdog;
            function doFaceRecognition() {
                console.log("Starting facial recognition.");
                if (video.readyState === videoElement.HAVE_ENOUGH_DATA) {
                    canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
                    var imageData = canvas.getImageData(0, 0, video.width, video.height);

                    canvasElement.toBlob(function (b) {
                        processImage(b);
                    });
                }

                faceRecognition = window.setTimeout(doFaceRecognition, 3000);
                faceWatchdog = window.setTimeout(killFaceRecognition, 30000);
            }

            function killFaceRecognition() {
                window.clearTimeout(faceRecognition);
                window.clearTimeout(faceWatchdog);

                requestAnimationFrame(tick);
            }

            requestAnimationFrame(tick);

            function processImage(data) {
                // Replace <Subscription Key> with your valid subscription key.
                var subscriptionKey = "<%= config.face.key %>";

                var fileReader = new FileReader();
                fileReader.onload = function (event) {
                    var uriBase =
                        "https://uksouth.api.cognitive.microsoft.com/face/v1.0/detect";

                    // Request parameters.
                    var params = {
                        "returnFaceId": "true",
                        "returnFaceLandmarks": "false",
                        "returnFaceAttributes":
                            "age,gender,headPose,smile,facialHair,glasses,emotion," +
                            "hair,makeup,occlusion,accessories,blur,exposure,noise"
                    };

                    $.ajax({
                        url: uriBase + "?" + $.param(params),
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("Content-Type", "application/octet-stream");
                            xhr.setRequestHeader("Ocp-Apim-Subscription-Key", subscriptionKey);
                        },
                        type: "POST",
                        data: event.target.result,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            if (response && response.length == 1) {
                                console.log(response[0].faceId);

                                var verifyUri = "https://uksouth.api.cognitive.microsoft.com/face/v1.0/verify";
                                var verifyData = {
                                    faceid1: response[0].faceId,
                                    faceid2: '2af394fb-08c7-48db-b532-40ed8da2086f'
                                };

                                $.ajax({
                                    url: verifyUri,
                                    data: JSON.stringify(verifyData),
                                    type: "POST",
                                    contentType: "application/json",
                                    success: function (rx) {
                                        console.log(rx);
                                    },
                                    beforeSend: function (xhr) {
                                        // xhr.setRequestHeader("Content-Type", "application/octet-stream");
                                        xhr.setRequestHeader("Ocp-Apim-Subscription-Key", subscriptionKey);
                                    },
                                    error: function(x,e) {
                                        console.log(x.responseText);
                                    }
                                });

                                killFaceRecognition();
                            }
                        },
                        error: function (xhr, status) {
                            console.log(xhr.responseText);
                        }
                    });

                };
                fileReader.readAsArrayBuffer(data);
            };
        </script>
    </div>
</body>
<script type="text/javascript" src="/scripts/jsQR.js"></script>

</html>