body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 140%;
    color: #444;
    background: #f9f9f9;
    margin: 0px;
}

header {
    background: #222;
    color: white;
    font-size: 11px;
    font-weight: normal;
    padding: 10px 20px;
    display:block;
}

header h1 {
    font-size: 2em;
    font-weight: normal;
    /* margin: 5px 20px */
}

.content { 
    padding: 20px;
    text-align: center;
}

.content video { display: none; }
.content canvas {
    border-radius: 15px;
    border: 1px solid #666;
}

.lane-list {
    list-style: none;
}

.lane {
    float: left;
    width: 400px;
    height: 150px;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 20px;
}

.lane h2 {
    font-size: 1em;
    font-weight: normal;
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
}

.go {
    background: green;
}

.stop {
    background: red;
}