<html>

<head>
    <title>NPR App</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body>
    <header>
        <h1>NPR App</h1>
    </header>
    <div class="content">
        <video id="video" height="480" width="800" autoplay></video>
        <canvas id="canvas" height="480" width="800"> </canvas>
    </div>
</body>
<script type="text/javascript" src="/scripts/jsQR.js"></script>

</html>