<html>

<head>
    <title>NPR App</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
</head>

<body>
    <header>
        <h1>NPR App</h1>
    </header>
    <div class="content">

        <!--Call OCR function for lane 3 by default-->
        <p>Upload an example vehicle image and input your lane number</p>

        <form method="POST" action="/upload" encType="multipart/form-data">
            <input type="file" name="plate"/>
            <label for="number">Lane:</label>
            <input id="laneNumber" type="number" name="laneNumber">
            <input type="submit" value="Submit">
        </form>


    </div>
</body>

</html>