<html>

<head>
    <title>NPR App</title>
    <link rel="stylesheet" type="text/css" href="/style/main.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body>
    <header>
        <h1>NPR App</h1>
    </header>
    <div class="content">

        <script type="text/javascript">

                //TODO: send upload to NPRFunction
                //Takes lane as param
            // function npOCR(lane){

            //     // var data = fs.readFileSync('../uploads/image.jpg');

            //     $.ajax({
            //     type: 'POST',
            //     data: JSON.stringify(data),
            //         contentType: 'application/octet-stream',
            //                 url: 'https://modnpr.azurewebsites.net/api/NPRFunction?lane='+lane,						
            //                 success: function(result) {
            //                     console.log('success');
            //                     console.log(JSON.stringify(result));
            //                 }
            //     });

            // }


        </script>

        <!--Call OCR function for lane 3 by default-->
        <p>Upload an example vehicle image and input your lane number</p>

        <form method="POST" action="/upload" encType="multipart/form-data">
            <input type="file" name="plate"/>
            <label for="number">Lane:</label>
            <input id="laneNumber" type="number" name="laneNumber">
            <input type="submit" value="Submit">
        </form>


    </div>
</body>

</html>